http://feeds.dlvr.it/7ff3a9f9def74078842acd7f0c7bd9a8.xml
@CON="Political"
http://feeds.dlvr.it/7ff3a9f9def74078842acd7f0c7bd9a8.xml
@SEN
@CON="NSFW"
http://feeds.dlvr.it/7ff3a9f9def74078842acd7f0c7bd9a8.xml